# QTM 151 - Python Quiz 03 (Based on Lectures 10, 11, 12, 13)

**Instructions:**
* For each task, write the Python code or SQL query in the designated cell to achieve the described outcome.
* For Python tasks, assume necessary libraries (`numpy` as `np`, `pandas` as `pd`, `matplotlib.pyplot` as `plt`, `sqlite3`) are imported if the context implies their use. A common import cell is provided.
* For SQL tasks, write the SQL query directly. Assume a database connection is established and a cursor is available if using Python to execute SQL.

## Student Information

**Name:** [Enter Your Name Here]

---

### Common Library Imports (for Python tasks)
You can run this cell once at the beginning like we did before. It also contains a table you will use for some tasks.

In [ ]:
# Import the necessary libraries
import numpy as np
import pandas as pd
import sqlite3

# Setup a connection to memory (not in a file) SQLite database for the quiz
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create table "products"
cursor.execute('''
CREATE TABLE IF NOT EXISTS products (
    product_id INTEGER PRIMARY KEY AUTOINCREMENT,
    product_name TEXT NOT NULL,
    category TEXT,
    price REAL,
    stock_quantity INTEGER
);
''')
cursor.execute("INSERT INTO products (product_name, category, price, stock_quantity) VALUES ('Laptop', 'Electronics', 1200.00, 50);")
cursor.execute("INSERT INTO products (product_name, category, price, stock_quantity) VALUES ('Coffee Maker', 'Appliances', 75.50, 120);")
cursor.execute("INSERT INTO products (product_name, category, price, stock_quantity) VALUES ('Desk Chair', 'Furniture', 150.75, 30);")
cursor.execute("INSERT INTO products (product_name, category, price, stock_quantity) VALUES ('Wireless Mouse', 'Electronics', 25.00, 200);")
cursor.execute("INSERT INTO products (product_name, category, price, stock_quantity) VALUES ('Bookshelf', 'Furniture', 90.00, 75);")

# Commit the query to save the table
conn.commit()

# Check if the table was saved correctly
cursor.execute("SELECT * FROM products").fetchall()

---

**Task 1: Pandas DataFrame Subsetting with `.query()` (Lec 10)**
Given the `products` table (loaded into a Pandas DataFrame called `df_products`):
1. Load the `products` table from the SQLite database into a Pandas DataFrame called `df_products`.
2. Use the `.query()` method to select all products from `df_products` that are in the 'Electronics' category AND have a `price` greater than Â£100.
3. Print the resulting DataFrame.

In [ ]:
# Write your answer for Task 1 here

---

**Task 2: Pandas DataFrame Subsetting with `.iloc[]` and Sorting (Lec 10)**
Using the `df_products` DataFrame from Task 1:
1. Sort `df_products` by `price` in descending order.
2. Using `.iloc[]`, select the first 3 rows (the three most expensive products) and only the `product_name` and `price` columns.
3. Print the resulting DataFrame.

In [ ]:
# Write your answer for Task 2 here

---

**Task 3: SQL `SELECT` with `WHERE` and `ORDER BY` (Lec 11)**
Write an SQL query to select the `product_name` and `price` from the `products` table for all products where the `stock_quantity` is less than 50.
The results should be ordered by `price` in ascending order.
(You can use `pd.read_sql(your_sql_query, conn)` to display the result).

In [ ]:
# Write your answer for Task 3 here

---

**Task 4: SQL `GROUP BY` and Aggregate Functions (Lec 11)**
Write an SQL query to find the average `price` and total `stock_quantity` for each `category` in the `products` table.
The results should show `category`, `avg_price`, and `total_stock`.
Alias the aggregated columns appropriately.

In [ ]:
# Write your answer for Task 4 here

---

**Task 5: Python with `sqlite3` - `INSERT` and `SELECT` (Lec 12)**
1. Using Python and the `sqlite3` module (the `cursor` object is already available from the setup cell):

   a. Insert a new product into the `products` table: `product_name`='Gaming Keyboard', `category`='Electronics', `price`=75.00, `stock_quantity`=150.
   
   b. Commit the change.

2. Write a Python code snippet to select all products from the 'Electronics' category using `cursor.execute()` and then print each row fetched using a loop and `.fetchall()` or by iterating over the cursor.

In [ ]:
# Write your answer for Task 5 here

---

**Task 6: SQL `LIKE` and `COALESCE` (Lec 12)**
First, let's add a product with a NULL category for testing this task:
```python
cursor.execute("INSERT INTO products (product_name, category, price, stock_quantity) VALUES ('Desk Lamp', NULL, 35.00, 90);")
conn.commit()
```
Write an SQL query to select `product_name` and `category` from the `products` table.
- For products where `category` is NULL, display 'Uncategorised' instead of NULL (use `COALESCE`).
- Only include products whose `product_name` contains the word 'Desk'.

In [ ]:
# Setup code for Task 6 (run this first)


# Write your answer for Task 6 here

---

**Task 7: SQL Window Function `RANK()` (Lec 12)**
Write an SQL query to select `product_name`, `category`, and `price` from the `products` table.
Also include a column `price_rank_within_category` that ranks products by price within each category (highest price gets rank 1).
Order the results by category and then by the price rank.

In [ ]:
# Write your answer for Task 7 here

---

**Task 8: SQL `CASE WHEN` Statement (Lec 12)**
Write an SQL query to select `product_name` and `price` from the `products` table.
Add a new column `price_label` based on the `price`:
- If `price` < 50, `price_label` is 'Budget'.
- If `price` is between 50 and 100 (inclusive), `price_label` is 'Mid-Range'.
- If `price` > 100, `price_label` is 'Premium'.

In [ ]:
# Write your answer for Task 8 here

---

**Task 9: SQL `INNER JOIN` (Lec 13)**
First, create a new table `orders` and insert some data (shown below).

Then, write an SQL query to list the `product_name` and `quantity_ordered` for all orders.
Only include orders where the `product_id` exists in both the `orders` and `products` tables.

In [ ]:
# Setup code for Task 9 (run this first)
cursor.execute('DROP TABLE IF EXISTS orders;')
cursor.execute('''
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    product_id INTEGER,
    quantity_ordered INTEGER,
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
''')
cursor.execute("INSERT INTO orders VALUES (101, 1, 2);")
cursor.execute("INSERT INTO orders VALUES (102, 3, 1);")
cursor.execute("INSERT INTO orders VALUES (103, 1, 1);")
cursor.execute("INSERT INTO orders VALUES (104, 4, 5);")
cursor.execute("INSERT INTO orders VALUES (105, 7, 1);") 
conn.commit()

# Write your answer for Task 9 here

---

**Task 10: SQL `LEFT JOIN` (Lec 13)**
Using the `products` and `orders` tables (as set up in Task 9):
Write an SQL query to list all `product_name`s from the `products` table, and if there are any orders for that product, show the `quantity_ordered`.
If a product has no orders, `quantity_ordered` should be NULL (or show as `None` in Pandas).

In [ ]:
# Write your answer for Task 10 here

---

**Task 11: SQL `UNION` (Lec 13)**
Write an SQL query that returns two sets of product names from the `products` table and combines them:
1. Products in the 'Electronics' category.
2. Products with a `price` less than $80.
   
Use `UNION` to combine these results. Include the `product_name` and `category` or `price` to distinguish the source of the row if helpful (e.g., add a literal string column like `'From Electronics'` or `'From Low Price'`).

In [ ]:
# Write your answer for Task 11 here

---

**Task 12: SQL `CREATE VIEW` (Lec 13)**
Write an SQL statement to create a `VIEW` named `electronics_products_view`.
This view should select all columns from the `products` table but only for products where the `category` is 'Electronics'.
After creating the view, write a separate SQL query to select all data from this new view to verify its creation.

In [ ]:
# Write your SQL for CREATE VIEW for Task 12 here

---

**Task 13: SQL `SELF JOIN` (Harder) (Lec 13)**
Consider the `products` table. Write an SQL query to find pairs of products within the same `category` where one product is more expensive than the other.
The result should show `category`, `product1_name`, `product1_price`, `product2_name`, `product2_price`.
Ensure you don't list a product paired with itself and avoid duplicate pairs (e.g., if (A,B) is listed, don't list (B,A)).
Order by category, then by product1_name.

In [ ]:
# Write your answer for Task 13 here

---

**Task 14: SQL `UPSERT` (INSERT ... ON CONFLICT) (Lec 13)**
Using the `products` table:
1. Attempt to `INSERT` a new product: `product_id`=2, `product_name`='Super Coffee Maker', `category`='Appliances', `price`=80.00, `stock_quantity`=10.
2. Since `product_id`=2 already exists (Coffee Maker), use an `ON CONFLICT` clause for the `product_id` to `DO UPDATE` SET the `price` to the new price (80.00) and add the new `stock_quantity` (10) to the existing `stock_quantity`.
3. After the UPSERT operation, select and display the row for `product_id`=2 to verify the changes.

In [ ]:
# Write your answer for Task 14 here

--- 
*(Optional: Close the database connection at the end of the notebook)*

In [ ]:
conn.close()